<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated capability -->
      <package
            uri="https://capability.models.nasdanika.org"
            class="org.nasdanika.models.capability.CapabilityPackage"
            genModel="src/main/resources/org/nasdanika/models/capability/capability.xcore"/>
   </extension>

</plugin>
